@model ProductenViewModel
@{
    ViewData["Title"] = "Producten";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="Producten" method="get" class="form-inline">
    <div class="input-group">
        <select asp-for="Categorie" asp-items="Html.GetEnumSelectList<Categorie>()" class="form-select mb-2 mr-sm-2" onchange="this.form.submit()">
            <option selected="selected" value="">Kies een categorie...</option>
        </select>
        <input type="submit" value="Toon" class="btn btn-primary mb-2" />
    </div>
</form>

@if (Model != null)
{
    @if (!Model.Producten.Any())
    {
        <div class="alert alert-warning">
            Geen producten in deze categorie...
        </div>
    }
    else
    {
        Product displayModel = Model.Producten.First();

        <form asp-action="Bestelling" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => displayModel.Naam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => displayModel.Beschrijving)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => displayModel.Prijs)
                        </th>
                        <th>
                            Aantal
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Producten.Count(); i++)
                    {
                        Product item = Model.Producten.ElementAt(i);
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Beschrijving)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prijs)
                            </td>
                            <td>
                                <div class="form-group">
                                    <input id="producten[@i].Aantal" name="producten[@i].Aantal" value="0" class="form-control" />
                                    <input type="hidden" name="producten[@i].Id" value="@Model.Producten.ElementAt(i).Id" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Bestellen" class="btn btn-success" />
                <input type="hidden" asp-for="Categorie" />
            </div>
        </form>
    }
}